/*Header*/

h2 {
    font-size: 1.3em;
}

#logo {
    color: white;
    font-size: 3em;
    font-family: jaro;

}

.main-header {
    background-color: #2E2E2E;
}

.navbar {

}

.header-menu {
}

.menu-link {
    color: white;
    text-decoration: none;
    font-family: jaro;
}

.secondary-header {
    background-color: #E67373;
    font-family: jaro;
    color: white; 

}

#search-icon {
    width: 3em;
    height: 3em;
}

.theme-taille-edit {
}

.coord-mouse {
    color: black;
    font-size: 1.5em;
    border-radius: 6px;
}

/*Main*/




