/*Header*/
:root {

    --bg: #ffffff;
    --primary-text: #201e1b;
    --secondary-text: #ffffff;
    --primary-color: #B6AE9F;
    --secondary-color: #DEDED1;
    --border: #246cfd;
    --accent: #fffbeb;

    --font-size-default: 16px;
    --line-height: 1.5;

}


[data-theme="dark"] {
    --bg: #0f1115;
    --text: #e5e7eb;
    --border: #2a2f3a;
    --accent: #60a5fa;
}


[data-theme="rose"] {
  --bg: #fff0f5;
  --text: #7a003c;
  --border: #f8cadd;
  --accent: #d946ef;
}



body {
    background: var(--bg);
    color: var(--text);
}


.main-header { background-color: var(--surface); }
.secondary-header { background-color: var(--accent); }
.main-article { background-color: var(--surface); }
.secondary-news article { background-color: var(--accent); }
.coord-mouse { color: var(--text); }



h2 {
    font-size: 1.3em;
}

.btn {
    background-color: var(--accent);
}

#logo {
    color: var(--primary-text);
    font-size: 3em;
    font-family: jaro;

}

.main-header {
    background-color: var(--primary-color);
}

.navbar {

}

.header-menu {
}

.menu-link {
    color: rgb(56, 52, 49);
    text-decoration: none;
    font-family: jaro;
}

.secondary-header {
    background-color: var(--secondary-color);
    font-family: jaro;
    color: var(--primary-text); 

}

#search-icon {
    width: 3em;
    height: 3em;
}

.theme-taille-edit {
}

.coord-mouse {
    color: black;
    font-size: 1.5em;
    border-radius: 6px;
}

/*Main*/

body {

}

.main-container {
    width: 80%;
}

main section {

}

.primary-news {
    width: 80%;
    margin-bottom: 5%;
}

/*TODO: change height when screen is smaller*/
.articles-container {
    height: 500px;
}

article {
    height: 280px;
}

aside {
}


.main-article {
    background-color: #2E2E2E;

}

.secondary-news{
}

.secondary-articles {

}

.secondary-news article{
        background-color: var(--secondary-color);


}

.secondary-articles-container {

}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #2E2E2E;
    margin-top: 200px;
    text-align: center;
}